@page "/history"
@model HistoryModel

<h3>Gespeicherte Berechnungen</h3>
<div class="container">
    <form method="post">
         <!-- Button für Historie Löschen -->
    <button type="submit" class="btn btn-danger mx-2" style="width: 240px" 
    name="action" value="@ActionType.DeleteHistory.ToString()"
    onclick="return confirmDelete()">
    Historie Löschen
    </button>


    <!-- Button für CSV Export -->
    <button type="submit" class="btn btn-primary mx-2" style="width: 240px" 
        name="action" value="@ActionType.ExportCSV.ToString()"
        @(Model.IsCsvExportImportEnabled ? "" : "disabled")>
        CSV Download
    </button>
    </form>
    <!-- Neues Upload-Formular für CSV-Import -->
    </br>
    <form method="post" enctype="multipart/form-data" asp-page-handler="ImportCSV">
    <div class="input-group">
        <input class type="file" name="UploadedFile" id="fileInput" class="form-control" accept=".csv" required>
        <button type="submit" class="btn btn-primary" id="uploadButton" disabled>
            CSV Upload
        </button>
    </div>
    <small id="fileName" class="text-muted"></small>
    </form>

</div>

<br>
<table class="table" id="fuelTable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Spritart</th>
            <th>Tankmenge</th>
            <th>Tankstelle 1</th>
            <th>Spritpreis TS 1</th>
            <th>Tankstelle 2</th>
            <th>Spritpreis TS 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tankinfos)
        {
            <tr>
                <td>@item.timesaved</td>
                <td>@item.fueltype</td>
                <td>@item.fuelamount</td>
                <td>@item.namegasstation1</td>
                <td>@item.fuelprice1.ToString("F2")</td>
                <td>@item.namegasstation2</td>
                <td>@item.fuelprice2.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete() {
        if (!confirm("Möchtest du wirklich die gesamte Historie löschen?")) {
            return false; // Verhindert das Absenden des Formulars, wenn der Benutzer auf "Abbrechen" klickt
        }
        return true; // Formular wird abgesendet, wenn der Benutzer "OK" klickt
    }
    // Aktiviert den Upload-Button nur, wenn eine Datei ausgewählt wurde
    document.getElementById("fileInput").addEventListener("change", function() {
        let uploadButton = document.getElementById("uploadButton");
        let fileNameDisplay = document.getElementById("fileName");
        if (this.files.length > 0) {
            uploadButton.disabled = false;
            fileNameDisplay.textContent = "Ausgewählte Datei: " + this.files[0].name;
        } else {
            uploadButton.disabled = true;
            fileNameDisplay.textContent = "";
        }
    });

</script>


<!-- Dark Mode Script einfügen -->
@* <script src="~/js/darkmode.js"></script> *@
