@page "/history"
@model HistoryModel

<h3>Gespeicherte Berechnungen</h3>
<div class="container">
    <form method="post">
        <!-- Verstecktes Feld für den Handler -->
        <button type="submit" class="btn btn-danger mx-2" style="width: 240px" onclick="return confirmDelete()" asp-page-handler="DeleteHistory">
            Historie Löschen
        </button>

        <!-- Button für CSV Export -->
        <button type="submit" class="btn btn-primary mx-2" style="width: 240px" asp-page-handler="ExportCSV">
            CSV Download
        </button>
    </form>
    <!-- Neues Upload-Formular für CSV-Import -->
    </br>
    <form method="post" enctype="multipart/form-data" asp-page-handler="ImportCSV">
    <div class="input-group">
        <input class type="file" name="UploadedFile" id="fileInput" class="form-control" accept=".csv" required>
        <button type="submit" class="btn btn-primary" id="uploadButton">
            CSV Upload
        </button>
    </div>
    <small id="fileName" class="text-muted"></small>
    </form>

</div>

<br>
<table class="table" id="fuelTable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Spritart</th>
            <th>Tankmenge</th>
            <th>Tankstelle 1</th>
            <th>Spritpreis TS 1</th>
            <th>Tankstelle 2</th>
            <th>Spritpreis TS 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tankinfos)
        {
            <tr>
                <td>@item.timesaved</td>
                <td>@item.fueltype</td>
                <td>@item.fuelamount</td>
                <td>@item.namegasstation1</td>
                <td>@item.fuelprice1.ToString("F2")</td>
                <td>@item.namegasstation2</td>
                <td>@item.fuelprice2.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete() {
        console.log('confirmDelete called');
        const confirmation = window.confirm("Möchten Sie wirklich den gesamten Verlauf löschen?");
        if (confirmation) {
            document.querySelector('form').submit(); // Formular absenden
        }
    }
</script>


<!-- Dark Mode Script einfügen -->
@* <script src="~/js/darkmode.js"></script> *@