@page "/history"
@model HistoryModel

<h3>Gespeicherte Berechnungen</h3>
<div class="container">
    <form method="post">
         <button type="submit" class="btn btn-primary mx-2" style="width: 240px" name="action" value="@ActionType.DeleteHistory.ToString()">
            Historie Löschen
        </button>
    </form>
</div>
<table class="table" id="fuelTable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Tankstelle 1</th>
            <th>Gesamtkosten TS 1</th>
            <th>Tankstelle 2</th>
            <th>Gesamtkosten TS 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HistoryItems)
        {
            <tr>
                <td>@item.Date.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.GasStation1</td>
                <td>@item.TotalCost1.ToString("F2")</td>
                <td>@item.GasStation2</td>
                <td>@item.TotalCost2.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>


<!-- Dark Mode Script einfügen -->
@* <script src="~/js/darkmode.js"></script> *@
