@page "/history"
@model HistoryModel

<h3>Gespeicherte Berechnungen</h3>
<div class="container">
    <form method="post">
        <!-- Button für Historie Löschen -->
        <button type="button" class="btn btn-primary mx-2" style="width: 240px" name="action" value="@ActionType.DeleteHistory.ToString()" onclick="confirmDelete()">
                Historie Löschen
        </button>

        
        <!-- Button für CSV Export -->
        <button type="submit" class="btn btn-secondary mx-2" style="width: 240px" 
        name="action" value="@ActionType.ExportCSV.ToString()"
        @(Model.IsCsvExportImportEnabled ? "" : "disabled")>
            CSV Export
        </button>

        <!-- Button für CSV Import -->
        <button type="submit" class="btn btn-secondary mx-2" style="width: 240px" 
        name="action" value="@ActionType.ImportCSV.ToString()"
        @(Model.IsCsvExportImportEnabled ? "" : "disabled")>
        CSV Import
        </button>

    </form>
</div>

<br>
<table class="table" id="fuelTable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Spritart</th>
            <th>Tankmenge</th>
            <th>Tankstelle 1</th>
            <th>Spritpreis TS 1</th>
            <th>Tankstelle 2</th>
            <th>Spritpreis TS 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tankinfos)
        {
            <tr>
                <td>@item.timesaved</td>
                <td>@item.fueltype</td>
                <td>@item.fuelamount</td>
                <td>@item.namegasstation1</td>
                <td>@item.fuelprice1.ToString("F2")</td>
                <td>@item.namegasstation2</td>
                <td>@item.fuelprice2.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<script>
   function confirmDelete() {
    console.log('confirmDelete called');
    const confirmation = window.confirm("Möchten Sie wirklich den gesamten Verlauf löschen?");
    if (confirmation) {
        // Falls bestätigt, das Formular absenden
        const form = document.querySelector('form');
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'action';
        input.value = '@ActionType.DeleteHistory.ToString()'; // Achte darauf, dass der Wert hier richtig ist
        form.appendChild(input);
        form.submit(); // Form absenden
    }
}

</script>


<!-- Dark Mode Script einfügen -->
@* <script src="~/js/darkmode.js"></script> *@
